@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');


html{


  --body-color:#FFFCFF ;

  --header-color:#d36c6c;

  --header-button: #FF6700;

  --color-weekdays: #247BA0;
  
  --box-shadow: #CBD4C2;

  --hover: #b9dcee;

  --current-day:#e8f4fa;

  --event-color: #58bae4;

  --modal-event: #e8f4fa;


 --color-day:white;
  
 overflow-y: hidden;

 
  font-family: "Asap", sans-serif;
  background-color: #bfbfbf;

}



body {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-color: var(--body-color);
}
button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-family: "Paytone One", sans-serif;
}

#header {
  padding: 10px;
  color: var(--header-color) ;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
  font-family: "Paytone One", sans-serif;
  /* font-family: "Asap", sans-serif; */
  color: #FF6700;
}
#header button {
  background-color:var(--header-button);
}
#container {
  width: 770px;
  margin-left: 15%;
}
#weekdays {
  width: 100%;
  display: flex;
  color: var(--color-weekdays) ;
}
#weekdays div {
  width: 100px;
  padding: 10px;
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: var(--color-day);
  margin: 5px;
  box-shadow: 0px 0px 3px var(--box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15%;
}
.day:hover {
  background-color: var(--hover);
}

.day + #currentDay {
  background-color:var(--current-day);
}
.event {
  font-size: 10px;
  padding: 3px;
  background-color: var(--event-color);
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: var(--body-color) !important;
  box-shadow: none !important;
}
#newEventModal, #deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: var(--modal-event);
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid red;
}
#cancelButton, #deleteButton {
  background-color: var(--header-color);
}
#saveButton, #closeButton {
  background-color: var(--header-button);
}
#eventText {
  font-size: 14px;
}
#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
}



body {
  font-family: "Asap", sans-serif;
  font-size: 14px;
  background-color: #bfbfbf;
}

.container{
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #245293;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 0;
}

.imgDash{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.imgDash img {
  width: 100%;
  max-width: 200px;
  margin-top: 5%;
}

.divMenu {
  margin-top: 20px;
  flex-grow: 1;
}

.linkPag{
  text-decoration: none;
  color: #FFFF ;
}

.menu-item {
  font-family: "Asap", sans-serif;
  font-size: 16px;
  display: flex;
    text-decoration: none;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 16px;
    padding: 12px 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    width: 90%;
    box-sizing: border-box;
    margin-left: -3%;
}

.menu-itemAtivo {
  font-family: "Asap", sans-serif;
  font-size: 16px;
  display: flex;
    text-decoration: none;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 16px;
    padding: 12px 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    width: 90%;
    box-sizing: border-box;
    margin-left: -3%;
    background-color: #3d71B8;
  transform: scale(1.05);
}

a{
  text-decoration: none;
  color: white;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.menu-item:hover {
  background-color: #3d71B8;
  transform: scale(1.05);
}

.itemExit {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  border-radius: 16px;
  padding: 10px 20px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  background-color: transparent;
  text-align: center;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.iconE {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.pSidebar {
  font-family: "Asap", sans-serif;
  margin-right: 16px;
}

.itemExit:hover {
  background-color: #3d71B8;
}


.headerDash{
  width: calc(100% - 250px); /* Desconta a largura da sidebar */
  height: 60px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 78%;
  z-index: 1000;
}

.headerRight {
  display: flex;
  gap: 15px;
  align-items: center;
}

.funcionalidadesHeader{
  width: 40px;
  height: 40px;
  border-radius: 50%; 
  overflow: hidden; /* Garante que a imagem fique contida dentro da div */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFF;
}

.funcionalidadesHeader img{
  width: 60%;
  height: 60%;
  object-fit: cover; /* Faz com que a imagem preencha a div sem distorção */
}

.vertical{
  width: 1.5px; 
  height: 40px; 
  background-color: #FFFF; 
  margin: 0 5px;
}

#theme-confgPerfil{
  width: 100%;
  height: 100%;
}