@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');



/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F1F1F1;
    color: #1f1f1f;
}

.testeLadoSidebar {
    display: flex;
    flex-direction: row;
}

main {
    width: calc(100% - 250px); /* Ajuste da largura do main, subtraindo a sidebar */
    margin-top: 100px; /* Espaço para compensar a altura da header */
    margin-left: 19%;
}
.linkAba{
    text-decoration: none;
    font-family: "Asap", sans-serif;
    color: #000;
}

.areaAbas {
    display: flex;
    justify-content: flex-start;
    padding: 10px 30px;
    gap: 20px;
    margin-left: -2.5%;
}

hr {
    width: 90%;
}

.aba {
    margin-right: 20px;
    cursor: pointer;
    display: flex;
    font-family: "Asap", sans-serif;
}

.ativo {
    font-weight: bold;
    border-bottom: 2px solid #295490;
}

.menu-itemAtivo{
    background-color: #3d71B8;
    transform: scale(1.05);
    display: flex;
    text-decoration: none;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 16px;
    padding: 12px 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    width: 90%;
    box-sizing: border-box;
    margin-left: -3%;
}

.funcionalidadesHeader{
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    overflow: hidden; /* Garante que a imagem fique contida dentro da div */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFF;
}

.funcionalidadesHeader img{
    width: 50%;
    height: 50%;
    object-fit: cover; 
    
}

.funcionalidadesHeader .imgPeople{
    width: 100%;
    height: 100%;
}

.conteudoConfiguracao {
    display: flex;
    margin: 20px;
    gap: 50px;
}

.fotoPerfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    background-color: #FFFF;
    height: 450px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 2%;

}

.fotoUsuario {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    object-fit: cover;
}

.botoesFoto {
    margin-top: 10px;
    margin-bottom: -50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btnFoto {
    background-color: #E6EEF5; /* Cor de fundo */
    border: none; /* Sem borda */
    margin-right: 5px; /* Espaço entre os botões */
    cursor: pointer; /* Cursor de pointer ao passar o mouse */
    height: 45px; /* Altura do botão */
    width: 110px; /* Largura do botão */
    border-radius: 7px; /* Bordas arredondadas */
    display: flex; /* Flex para centralizar o conteúdo */
    align-items: center; /* Alinhamento vertical */
    justify-content: center; /* Alinhamento horizontal */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Transições suaves */
}

.btnFoto:hover {
    transform: scale(1.05); /* Aumenta o tamanho do botão ao passar o mouse */
    background-color: #C4D9E7; /* Cor de fundo ao passar o mouse */
}

.iconBnt {
    height: 20px; /* Altura da imagem */
    width: auto; /* Largura automática */
    transition: transform 0.3s ease; /* Transição suave para a imagem */
}

.btnFoto:hover .iconBnt {
    transform: rotate(15deg); /* Rotaciona a imagem ao passar o mouse */
}


.dadosPessoais {
    width: 65%;
}

.dadosPessoais h2 {
    margin-bottom: 30px;
    margin-top: 6%;
    font-family: "Paytone One", sans-serif;
    font-weight: lighter;
}

form {
    gap: 20px;
}

.form-group {
    margin-bottom: 15px;
    font-family: "Asap", sans-serif;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    height: 45px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 17px 17px 5px -9px rgba(0,0,0,0.17);
}

.inputNome {
        width: 500px; /* Use 100% para ocupar o espaço disponível */
        padding: 10px;
        border: 1px solid #ccc;
        box-sizing: border-box;
}

.inputDados{
    box-shadow: 17px 17px 5px -9px rgba(0,0,0,0.17);
}

input::placeholder {
    color: black; 
    opacity: 1; 
    font-weight: bold;
}

.inputNome:focus, .inputDados:focus, textarea {
    outline: none;
}

.form-group .inputDados,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
     /* Certifique-se que o border-radius está aplicado uniformemente */
    box-sizing: border-box; /* Garante que padding e border não afetem o tamanho */
}

textarea {
    resize: vertical;
    height: 100px;
}

.areaNome {
    display: flex;
    flex-direction: row;
    gap: 30px;
}


/* Dark Mode*/ 

/* Tema Claro (Padrão) */

/* Tema Escuro */


body.dark-mode .sidebar {
    background-color: #000000;
}

body.dark-mode .vertical{
    background-color: #121212;
}

body.dark-mode .menu-item:hover {
    background-color: #444;
    background-color: #333;
}

body.dark-mode .menu-itemAtivo{
    transform: scale(1.05);
    background-color: #444;
    background-color: #333;

}

body.dark-mode .itemExit:hover {
    background-color: #333;
}