@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');


.paytone-one-regular {
  font-family: "Paytone One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.asap {
  font-family: "Asap", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.containerContato {
    display: flex;
    width: 80%;
    margin: 50px auto;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    height: 640px;
}

.left-side {
    width: 40%;
    padding: 40px;
    background-color: #245293;
}

.left-side .logoContato {
    width: 300px;
    margin-bottom: 10px;
    height: 100px;
    margin-top: -20px;
    margin-left: 15%;
}

.left-side p {
    color: #666;
    font-size: 14px;
    margin-bottom: 30px;
}

.social-links a {
    display: inline-block;
    margin-right: 10px;
}

.social-links img {
    width: 30px;
    height: 30px;
}

.imagem-contato {
  width: 350px;
  height: 350px;
  z-index: 500;
}

.right-side {
    width: 60%;
    padding: 40px;
    background-color: white;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

.areaText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.areaText p {
    font-family: "Asap", sans-serif;
}

.right-side  {
    margin-bottom: 10px;
    color: #333;
}

.right-side p {
    margin-bottom: 20px;
    color: #999;
}

.areaInput{
  margin-right: -50px;
}

form {
    display: flex;
    flex-direction: column;
   margin-right: -10rem
}

.form-group {
    display: flex;
    gap: 10px;
}

input{
    height: 30px;
    
}

input:focus{
  outline: none;
}

textarea:focus{
  outline: none;
}




input[type="text"] {
    width: 38.3%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    font-family: "Asap", sans-serif;
}

.inputET{
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Asap", sans-serif;
}

textarea {
    height: 100px;
    resize: none;
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    font-family: "Asap", sans-serif;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

button:hover {
    background-color: #0056b3;
}


.h1Cadastro {
    font-family: "Paytone One", sans-serif;
    font-size: 28px;
    color: #3A6EA5;
    margin-bottom: 20px;
}

.Pdt {
    color: #FF6700;
    font-family: "Paytone One", sans-serif;
    font-size: 28px;
    margin-bottom: 20px;
    word-wrap: break-word; /* Quebrar longas palavras */
}

/* From Uiverse.io by abrahamcalsin */ 
.bntEntrarContato {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #183153;
    font-family: "Paytone One", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
    height: 50px;
    width: 82.3%;
  }
  
  .bntEntrarContato:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #FF6700;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
  }
  
 .bntEntrarContato:hover::after {
    right: auto;
    left: 0;
    width: 100%;
  }
  
 .bntEntrarContato span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
  }
  
 .bntEntrarContato:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
  }
  
  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(0.95);
    }
  
    100% {
      transform: scale(1);
    }
  }

  .areaLinks{
    margin-top: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -8%;
  }
  

  ul {
    list-style: none;
  }
  
  .example-2 {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .example-2 .icon-content {
    margin: 0 10px;
    position: relative;
  }
  .example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #245293;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  .example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
  }
  .example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #FFFF;
    background-color: #245293;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  }
  .example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
  }
  .example-2 .icon-content a:hover {
    color: white;
  }
  .example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover .filled {
    height: 100%;
  }
  
  .example-2 .icon-content a[data-social="linkedin"] .filled,
  .example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
    background-color: #0274b3;
  }
  
  .example-2 .icon-content a[data-social="github"] .filled,
  .example-2 .icon-content a[data-social="github"] ~ .tooltip {
    background-color: #24262a;
  }
  .example-2 .icon-content a[data-social="instagram"] .filled,
  .example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
    background: linear-gradient(
      45deg,
      #405de6,
      #5b51db,
      #b33ab4,
      #c135b4,
      #e1306c,
      #fd1f1f
    );
  }
  .example-2 .icon-content a[data-social="whatsapp"] .filled,
.example-2 .icon-content a[data-social="whatsapp"] ~ .tooltip {
  background-color: #25D366; /* Cor verde do WhatsApp */
  opacity: 1;
}

  


.contatoText{
    justify-content: center;
    font-size: 25px;
}

.contatoH1{
    font-family: "Paytone One", sans-serif;
    color: #245293;
    text-align: center;
}


.areaBotao{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.botaoContato{
    height: 80px;
    width: 280px;
    border-radius: 16px;
    background-color: #FFFF;
    color: #FF6700;
    font-family: "Paytone One", sans-serif;
    font-size: 14px;
    border: solid #FFFF;
    cursor: pointer;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.botaoContato:hover{
  background-color: #FF6700;
  color: #FFFF;
  border-color: #FF6700;
  transition: 0.8s;
}

/* Para telas menores que 1200px */
@media (max-width: 1200px) {
  .left-side, .right-side {
    width: 50%;
  }
  

  .left-side .logoContato {
    margin-left: 10%;
    width: 250px;
    height: 80px;
  }

  .inputET, textarea {
    width: 70%;
}

input[type="text"] {
  width: 32.1%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Asap", sans-serif;
}
 

.bntEntrarContato {
  position: relative;
  display: flex
;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #183153;
  font-family: "Paytone One", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
  height: 50px;
  width: 73.9%;
}

}

/* Para telas menores que 992px */
@media (max-width: 992px) {
  .containerContato {
    flex-direction: row;
    height: auto;
  }
  .left-side, .right-side {
    width: 100%;
    padding: 20px;
  }
  .left-side .logoContato {
    margin: 0 auto;
  }
  .inputET, textarea {
        width: 65%;
    }

    input[type="text"] {
      width: 29.3%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 14px;
      font-family: "Asap", sans-serif;
  }


  .bntEntrarContato {
    position: relative;
    display: flex
;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #183153;
    font-family: "Paytone One", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
    height: 50px;
    width: 69.3%;
}
}



/* Para telas menores que 768px */
@media (max-width: 768px) {
  .left-side {
    text-align: center;
  }
  .left-side .logoContato {
    width: 200px;
    height: 60px;
    margin-bottom: 20px;
  }

  .inputET, textarea {
    width: 51.3%;
  };

  input[type="text"] {
    width: 21.3%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    font-family: "Asap", sans-serif;
}
  
  
  .bntEntrarContato {
  position: relative;
  display: flex
  ;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #183153;
  font-family: "Paytone One", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
  height: 50px;
  width: 57.3%;
  }
}


  

/* Para telas menores que 600px */
@media (max-width: 600px) {
  .containerContato {
    width: 90%;
    margin: 20px auto;
  }
  .areaLinks {
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
  .bntEntrarContato {
    width: 100%;
  }
  .left-side .logoContato {
    width: 150px;
    height: 50px;
  }

 
}
@media (max-width: 480px){
  .containerContato {
    flex-direction: column;
    padding: 10px;
  }

  .areaLinks {
    flex-direction: column;
    align-items: center;

    margin-left: -20%;
}

.left-side .logoContato {
  width: 150px;
  height: 50px;
  margin-left: -5%;
}

input[type="text"] {
  width: 25.5%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Asap", sans-serif;
}

.inputET, textarea {
  width: 57%;
}


.bntEntrarContato  {
  text-align: center;
  text-decoration: none;
  width: 61.5%;
  padding: 18px 25px;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}


 }

