.headerEquipes {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinha verticalmente ao centro */
    margin-left: 300px;
    margin-top: 20px; /* Espaço acima dos blocos */
    width: calc(100% - 250px);
}

.textEquipe p {
    margin-left: 20px; /* Espaço à esquerda da frase */
    font-weight: bold; /* Opção para destacar o título */
    font-size: 24px; /* Ajuste o tamanho conforme necessário */
}

.buttonEquipes {
    display: flex;
    align-items: center; /* Alinha verticalmente ao centro */
    margin-right: 20px; /* Espaço à direita */
}

.add-button {
    width: 30px;
    height: 30px;
    border-radius: 50%; /* Faz o botão ser redondo */
    background-color: #245293; /* Cor do botão */
    color: white; /* Cor do texto */
    border: none; /* Remove bordas */
    cursor: pointer;
    margin-left: 10px; /* Espaço entre a frase e o botão */
}








.containerEquipes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    margin-top: 65px; /* Espaço para a div acima */
    padding: 20px;
    height: calc(100vh - 60px);
    width: calc(100% - 250px);
    gap: 20px;
}

.blocsEquipes {
    background-color: #ffffff;
    width: 30%; 
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.textE {
    display: flex;
    justify-content: space-between; /* Alinha os elementos nas extremidades */
    align-items: center; /* Alinha verticalmente ao centro */
    position: absolute; /* Coloca a div sobre os blocos */
    width: calc(100% - 300px); /* A mesma largura do container */
    top: 20px; /* Posição acima dos blocos */
    left: 300px; /* Alinha com os blocos */
    padding: 10px 20px;
}

.textEquipe p {
    font-weight: bold;
    font-size: 24px;
    margin-top: 120px;
}

.buttonEquipes {
    display: flex;
    align-items: center;
    margin-top: 120px;
}

.add-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #245293;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: white    ;
}
