.headerEquipes {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-left: 300px;
    margin-top: 20px;
    width: calc(100% - 250px);
}



.buttonEquipes {
    display: flex;
    align-items: center; 
    margin-right: 20px; 
}

.add-button {
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    background-color: #245293; 
    color: white; 
    border: none; 
    cursor: pointer;
    margin-left: 10px;
}








.containerEquipes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    margin-top: 65px; 
    padding: 20px;
    height: calc(100vh - 60px);
    width: calc(100% - 250px);
    gap: 20px;
}

.blocsEquipes {
    background-color: #ffffff;
    width: 30%;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.imageEquipes1{
    width: 200px;
    height: auto;
}

.imageEquipes2{
    width: 425px;
    height: auto;
}

.imageEquipes {
    width: 350px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
}


span{
    font-family: "Asap", sans-serif;
    font-style: inherit;
    font-size: 20px;
    font-weight: bold;
}

.textE {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    position: absolute; 
    width: calc(100% - 300px); 
    top: 20px;
    left: 300px; 
    padding: 10px 20px;
}

.buttonEquipes {
    display: flex;
    align-items: center;
    margin-top: 120px;
}

.add-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #245293;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: white    ;
}

.pDash{
    margin-left: 0.5%;
    font-family: "Asap", sans-serif;
    font-size: 16px;
    margin-top: 120px;
}

.linkEquipe{
    text-decoration: none;
    color: #000; /* Defina a cor do texto */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}