.paytone-one-regular {
  font-family: "Paytone One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.asap {
font-family: "Asap", sans-serif;
font-optical-sizing: auto;
font-style: normal;
font-variation-settings:
  "wdth" 100;
}

.section-avaliacao {
    margin: 0;
    padding: 20px 0;
    width: 100%;
    background-color: #FF6700;
  }
  
  .container-avaliacao {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FF6700;
  }
  
  .avaliacaoText {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 25px;
  }
  
  .avaliacaoH1 {
    font-family: "Paytone One", sans-serif;
    text-align: center;
    color: #FFFF;
  }
  
  .box-avaliacao {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    height: auto;
  }
  
  .card-avaliacao {
    background-color: #FFFFFF;
    width: 25%;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
  }
  
  .card-content {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .star-rating {
    font-size: 24px;
    color: #FFCC00;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .avaliacao-data {
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "Paytone One", sans-serif;
    color: #245293;
    font-size: 18px;
  }
  
  .avaliacao-texto {
    font-size: 16px;
    color: #333333;
    font-family: "Asap", sans-serif;
  }
  