body {
    background-color: #245293;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
    
}

.container-principal {
    width: 90%;
    max-width: 700px;
    height: auto;
    background-color: white;
    border-radius: 50px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.inside1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 300px;
    border-radius: 24px;
    height: 90px;
    position: relative;
    z-index: 10;
    margin-top: -38px;
}

.h1Cadastro {
    font-family: "Paytone One", sans-serif;
    font-size: 32px;
    color: #3A6EA5;
    margin-bottom: 20px;
}

.inside2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    width: 90%;
    max-width: 500px;
    margin-top: 20px;
}

.labelCadastro {
    display: block;
    font-family: "Paytone One", sans-serif;
    font-size: 18px;
    color: #3A6EA5;
    margin-bottom: 5px;
    text-align: left;
}

input::placeholder, input {
    color: #245293;
    font-family: "Paytone One", sans-serif;
    opacity: 1;
}

input:focus {
    outline: none;
}

.inside2 input {
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
    font-size: 16px;
    padding-left: 10px;
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 24px 24px;
}

.container-senha {
    display: flex;
    align-items: center;
    position: relative;
}

.container-senha input {
    padding-right: 40px;
}

.fa-eye {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.msg-error {
    color: red;
    font-size: 14px;
    display: none;
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: left;
}

.validacaoList {
    list-style-type: none;
    padding: 0;
    text-align: left;
    font-size: 14px;
    margin-bottom: 20px;
}

.validacaoList li {
    color: #3A6EA5;
}

.btn-container {
    width: 90%;
    max-width: 500px;
}

.btn-container button {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: #3A6EA5;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    color: white;
    font-size: 18px;
    font-family: "Asap", sans-serif;
    margin-top: 20px;
}





.msg-error {
    color: red;
    display: none;
    margin-top: -10px;
    margin-bottom: 10px;
}

ul.validacaoList {
    text-align: left;
    margin: 0;
    padding-left: 20px;
    list-style: none;
    color: red;
}

.validacaoList li {
    margin: 5px 0;
}

button {
    width: 90%;
    max-width: 500px;
    height: 60px;
    border-radius: 35px;
    border: none;
    background-color: #3A6EA5;
    color: white;
    font-size: 24px;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #245293;
}