@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

.paytone-one-regular {
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.asap {
    font-family: "Asap", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.LinkDoc {
    text-decoration: none;
    color: #FFFFFF;
}

body {
    margin: 0;
    padding: 0;
}

.section-footer {
    height: auto;
}

.footer {
    background-color: #245293;
    color: #FFFFFF;
    text-align: center;
    padding: 20px; 
}

.footer-title {
    font-family: "Paytone One", sans-serif;
    font-size: 25px;
}

.footerText {
    font-family: "Paytone One", sans-serif;
    font-size: 20px;
}

.direitos {
    font-family: "Paytone One", sans-serif;
    font-size: 14px;
}

.imgLogo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 150px;
    aspect-ratio: 4 / 3;
    height: 50px;
    border-radius: 6px;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.footer-image {
    display: flex;
    justify-content: center;
    margin: 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px; 
    flex-wrap: wrap; 
}

.box {
    background-color: #245293;
    padding: 10px;
    text-align: center;
    width: 100%; 
    box-sizing: border-box; 
    margin-bottom: 20px;
}

.box h2 {
    margin: 0;
    padding-bottom: 10px; 
}

.box p {
    font-family: "Asap", sans-serif;
}

.contatoEmail {
    text-decoration: none;
    cursor: pointer;
    color: #FFFF;
}

/* Responsividade */
@media (min-width: 768px) {
    .footer-container {
        flex-wrap: nowrap; 
    }

    .box {
        width: 30%;
    }
}

@media (max-width: 767px) {
    .box {
        width: 100%; 
    }

    .imgLogo {
        width: 120px; 
        height: auto; 
    }
}
