html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

header{
    position: absolute;
    top: -22px;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    z-index: 2;
    width: 100%;

}

.logo {
    display: flex;
}

.imgLogoMain{
    display: flex;
    width: 160px;
    height: 50px;
    border-radius: 6px;
    margin: 0;
    margin-left: 140px;
}



.menu ul {
    list-style: none;
    display: flex;
    height: 35px;
    gap: 20px;
    background-color: #295490;
    font-family: "Paytone One", sans-serif;
    justify-content: center;
    align-items: center;
    padding: 15px 30px; 
    margin: 0; 
    margin-right: 140px;
    border-radius: 16px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
    border-radius: 6px;
}





.imgMain, .areaImg {
    max-width: 100%;
    height: auto;
    margin: 0 auto; 
    display: block;
    position: relative;
    left: 0;
    top: 0;
    z-index: 1;
}

.imgMain {
    max-width: 100%;
    height: auto;
    margin: 0 auto; 
    display: block;
    position: relative;
    filter: brightness(0.5);
    clip-path: inset(0 0 150px 0);
}

.textMain {
    position: absolute;
    top: 50%;
    left: 70%; 
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    text-align: center;
    z-index: 2; 
    font-family: "Paytone One", sans-serif;
    font-size: 70px;
    width: 700px;
}

.entreSessoes {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    margin-top: -140px;
    position: relative;
    z-index: 2;
    height: 200px;
    padding: 10px;
    align-items: center;
    gap: 150px;
}

.boxMain {
    background-color: #FF6700;
    height: 400px;
    width: 300px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    margin: 0 5px;
    
}

main {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

.areaImg {
    max-width: 100%; 
    height: auto;
    position: relative;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
}

