@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

.container {
    display: flex; /* Usar flexbox para o layout */
}

.sidebar {
    width: 250px; /* Ajuste a largura conforme necessário */
}

.headerDash {
    width: calc(100% - 250px); /* Para garantir que o header não sobreponha a sidebar */
}

.content {
    flex: 1; /* Permite que a área de conteúdo ocupe o restante do espaço */
    display: flex; /* Usar flexbox para alinhar os itens */
    flex-direction: column; /* Alinhar os itens verticalmente */
    align-items: center; /* Centralizar horizontalmente */
    justify-content: center; /* Centralizar verticalmente */
    margin-left: 15%;
    padding: 20px; /* Adicionar algum preenchimento, se necessário */
}

.h1Tivat, .pTivat, .input-container {
    margin: 10px; /* Usar margens uniformes para todos os elementos */
    color: #333; 
}

.h1Tivat {
    font-size: 4rem;
    font-weight: bold;
    margin-top: 2%;
    font-family: "Paytone One", sans-serif;
    color: #4AAAB0;
}

.pTivat {
    font-size: 1.2rem;
}

.input-container input {
    width: 800px;
    padding: 10px;
    font-size: 1rem;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.historico {
    margin-top: 20px;
    padding: 10px;
    background-color: #FFFF;
    border-radius: 16px;
    height: 300px;
    width: 80px;
}

.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    gap: 10px;
}

input:focus{
    outline: none;
}


#historico {
    flex-grow: 1;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    max-width: 1200px;
    overflow-y: auto;
    height: calc(100vh - 200px); /* Ajusta a altura conforme necessário */
}

.pergunta {
    background-color: #2F2F2F;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    clear: both;
    word-wrap: break-word;
    text-align: right;
    color: #FFFF;
}

.resposta {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: left;
    color: black;
}

#historico {
    width: 100%;
    max-width: 910px;
    height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 16px;
}

.pergunta, .resposta {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}



body {
    font-family: "Asap", sans-serif;
    background-color: #bfbfbf;
}

.container{
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #245293;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0;
}

.imgDash{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.imgDash img {
    width: 100%;
    max-width: 200px;
    margin-top: 5%;
}

.divMenu {
    margin-top: 20px;
    flex-grow: 1;
}

.linkPag{
    text-decoration: none;
    color: #FFFF ;
}

.menu-item {
    display: flex;
    text-decoration: none;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 16px;
    padding: 12px 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    width: 90%;
    box-sizing: border-box;
    margin-left: -3%;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.menu-item:hover {
    background-color: #3d71B8;
    transform: scale(1.05);
}

.itemExit {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    border-radius: 16px;
    padding: 10px 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    background-color: transparent;
    text-align: center;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.iconE {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.pSidebar {
    font-family: "Asap", sans-serif;
    margin-right: 16px;
}

.itemExit:hover {
    background-color: #3d71B8;
}

.headerDash{
    width: calc(100% - 250px); /* Desconta a largura da sidebar */
    height: 60px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 78%;
    z-index: 1000;
}

.headerRight {
    display: flex;
    gap: 15px;
    align-items: center;
}

.funcionalidadesHeader{
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    overflow: hidden; /* Garante que a imagem fique contida dentro da div */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFF;
}

.funcionalidadesHeader img{
    width: 60%;
    height: 60%;
    object-fit: cover; /* Faz com que a imagem preencha a div sem distorção */
}

.vertical{
    width: 1.5px; 
    height: 40px; 
    background-color: #FFFF; 
    margin: 0 5px;
}


#placeholder-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
}





/* From Uiverse.io by KINGFRESS */ 
button {
    margin-top: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #0c66ed;
    padding: 1em 2em;
    border: none;
    border-radius: .6rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    height: 40px;
  }
  
  button span:not(:nth-child(6)) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    background-color: #FF6700;
    border-radius: 50%;
    transition: .6s ease;
  }
  
  button span:nth-child(6) {
    position: relative;
  }
  
  button span:nth-child(1) {
    transform: translate(-3.3em, -4em);
  }
  
  button span:nth-child(2) {
    transform: translate(-6em, 1.3em);
  }
  
  button span:nth-child(3) {
    transform: translate(-.2em, 1.8em);
  }
  
  button span:nth-child(4) {
    transform: translate(3.5em, 1.4em);
  }
  
  button span:nth-child(5) {
    transform: translate(3.5em, -3.8em);
  }
  
  button:hover span:not(:nth-child(6)) {
    transform: translate(-50%, -50%) scale(4);
    transition: 1.5s ease;
  }
    


  /*--------------DARK MODE--------------------------------- */

  /* Tema Claro (default) */
body {
    font-family: "Asap", sans-serif;
    background-color: #bfbfbf;
    color: #333;
}

/* Tema Escuro */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .sidebar {
    background-color: #000000;
}

body.dark-mode .pTivat{
    color: white;
    font-family: "Asap", sans-serif;
}

body.dark-mode .content {
    background-color: #2f2f2f;
    color: white;
}


body.dark-mode .input-container input {
    background-color: #333;
    color: white;
    /* border: 1px solid #666; */
}

body.dark-mode .vertical{
    background-color: #121212 ;
}



body.dark-mode .menu-item:hover {
    background-color: #444;
    background-color: #333;
}

body.dark-mode .itemExit:hover {
    background-color: #333;
}

body.dark-mode .historico {
    background-color: #222;
    color: white;
}

body.dark-mode .pergunta {
    background-color: #444;
    color: white;
}

body.dark-mode .resposta {
    background-color: #555;
    color: white;
}

/* Outros ajustes */
button {
    background-color: #0c66ed;
    color: white;
}

button:hover {
    background-color: #005bb5;
}
